SchemaModelerLib/src/com/izn/schemamodeler/admin/role/role.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
           jxb:version="2.1"

>
  <xs:element name="component">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schema" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="basic">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="optional"/>
                      <xs:attribute type="xs:string" name="description" use="optional"/>
                      <xs:attribute type="xs:string" name="hidden" use="optional"/>
                      <xs:attribute type="xs:string" name="registryName" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="field">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="detail" maxOccurs="unbounded" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>&lt;detail name="child" value=""/> comma separated role or person or group or association list&lt;detail name="child" value=""/> comma separated role or person or group or association list</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="name" use="optional"/>
                            <xs:attribute type="xs:string" name="value" use="optional">
                            
                             <xs:annotation>
                                  <xs:appinfo>
                                   <jxb:property name="valueAttribute"/>
                                 </xs:appinfo>
                                  </xs:annotation>
                            
                            </xs:attribute>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="childs">
                      <xs:annotation>
                        <xs:documentation>type of role  type of role</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="child" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="type" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="type" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="type"/>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>